<!-- <nav id="navbar" class="navbar navbar-expand-lg sticky-sm-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="Bootstrap" width="50" height="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/profile.html">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/destination.html">Destination</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/galeri.html">Galeri</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 <style>
  .navbar {
    background: #8d6e63;
    color: white;
    font-family: "Lora", serif;
  }
  .navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #8d6e6375;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 1000;
  }
</style> -->
<!-- 
<script>
  // navbar
  const navbar = document.getElementById("navbar");

  const sticky = navbar.offsetTop;

  window.onscroll = function () {
    if (window.pageYOffset > sticky) {
      navbar.classList.add("sticky");
    } else {
      navbar.classList.remove("sticky");
    }
  };
</script> -->
